@page "/places"
@layout MainLayout
@inherits BaseComponentPage

<div class="text-center mx-auto w-50">
    <img src="/images/icon.svg" class="img-fluid" alt="logo">
</div>
<div class="card">
    <div class="card-body">
        <h4 class="card-title">Places</h4>
        @if (places.Count == 0)
        {
            <h6 class="text-danger">Non ci sono stabilimenti</h6>
        }
        @foreach (var place in places)
        {
            <PlaceCard Place="@place" AsUserView />
        }
    </div>
</div>

