@page "/home"
@layout MainLayout
@inherits BaseComponentPage

<div class="text-center mx-auto w-50">
    <img src="/images/icon.svg" class="img-fluid" alt="logo">
</div>
<div class="card">
    <div class="card-body">
        <h4 class="card-title">Benvenuto</h4>
    </div>
</div>
