@page "/home/partner"
@layout MainLayout
@inherits BaseComponentPage

@attribute [Authorize(Roles = "partner")]

<BannerNede Title=@AppTexts.Your_Places />

<div class="card-body">
    <BackgroundLoader TaskId="placesList">
        @if (places.Count == 0)
        {
            <h6 class="text-danger">@AppTexts.There_are_none_places</h6>
        }
        @foreach (var place in places)
        {
            <PlaceCard Place="@place" />
        }
    </BackgroundLoader>
</div>