﻿@page "/home/user"
@layout MainLayout
@inherits BaseComponentPage

<BannerNede Title=@("Benvenuto!") />
<div class="px-3 mt-2">
    <div class="input-group border-1 rounded sticky-top" style="box-shadow: 0 0 30px #f3ecba, 0px 2px 5px grey;">
        <span class="input-group-text">
            <i class="fa-solid fa-magnifying-glass fa-xs"></i>
        </span>
        <input type="text" class="form-control" placeholder="Trova il posto perfetto per te!" @bind-value=@Search @bind-value:event="oninput">
    </div>
    <div class="row px-3 overflow-y-auto">
        <BackgroundLoader TaskId="@nameof(User)">
            @if (places.Count == 0)
            {
                <div class="alert alert-info mt-3" role="alert">
                    @("Nessun posto trovato!")
                </div>
            }
            @foreach (var place in places)
            {
                <PlaceCard Place="@place" AsUserView />
            }
        </BackgroundLoader>
    </div>
</div>