@page "/dashboard"
@layout MainLayout
@inherits BaseComponentPage

<div class="card">
    <div class="card-body">
        <h4 class="card-title">Benvenuto</h4>
        @if (State.CurrentUser.IsPartner)
        {
            <h6 class="card-subtitle mb-2">I tuoi stabilimenti</h6>
            <BackgroundLoader TaskId="placesList">
                @if (places.Count == 0)
                {
                    <h6 class="text-danger">Non ci sono stabilimenti</h6>
                }
                @foreach (var place in places)
                {
                    <PlaceCard Place="@place" />
                }
            </BackgroundLoader>
        }
        else
        {
            <h6 class="card-subtitle mb-2">I tuoi appuntamenti:</h6>
            <h6 class="text-warning mb-2">Non ci sono appuntamenti</h6>
            <div class="row flex-row">
                <small class="fst-italic text-success">*86% di chi prende un appuntamento ha riportato un 25% di eficacia al lavorare</small>
                <a href="/places" class="btn btn-primary">
                    Cerca
                    <i class="fa-solid fa-magnifying-glass"></i>
                </a>
            </div>
        }
    </div>
</div>


