﻿@page "/favorite"
@layout MainLayout
@inherits BaseComponentPage


<BannerNede />
<div class="text-center">
    <img src="/images/under_construction.svg" class="img-fluid w-50" alt="logo">
    <h1>
        Stiamo ancora lavorando :)
    </h1>
</div>